<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            body {
                margin: 30px;
            }
        </style>
    </head>
    <body>
        <div>
            <h3>Helsinki City Bike App</h3>
            <p>You can view city bike stations and saved journeys by clicking the links below.</p>
            <a th:href="@{/stations}" class="btn stations">View Stations</a>
            <a th:href="@{/journeys}" class="btn journeys">View Journeys</a>
            <a th:href="@{/map}" class="btn map">View Helsinki Area Map</a>
        </div>
    </body>
</html>