<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            body {
                margin: 20px;
            }
            .home-button {
                margin-inline-end: 10px;
            }
            .journeys-button {
                margin-inline-start: 10px;
            }
            .container {
                display: flex;
            }
            .fixed {
                width: 400px;
            }
            .flex-map {
                flex-grow: 1;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <a th:href="@{/}" class="home-button" aria-label="Return to homepage">Return to homepage</a>
                <a th:href="@{/journeys}" class="journeys-button" aria-label="Return to Journey list">Return to Journey list</a>
                <h3>Journey</h3>
            </div>
            <div class="container">
                <div class="fixed">
                    <table class="table" aria-label="Station data">
                        <tr>
                            <th>Field Name</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Departure Time</td>
                            <td th:text="${#dates.format(journey.departureDate, 'dd-MM-yyyy HH:mm')}"></td>
                        </tr>
                        <tr>
                            <td>Return Time</td>
                            <td th:text="${#dates.format(journey.returnDate, 'dd-MM-yyyy HH:mm')}"></td>
                        </tr>
                        <tr>
                            <td>Departure Station Name</td>
                            <td>
                                <a th:text="${journey.departureStationName}"
                                   th:href="@{/station(id=${journey.departureStationID})}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Return Station Name</td>
                            <td>
                                <a th:text="${journey.returnStationName}"
                                   th:href="@{/station(id=${journey.returnStationID})}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Distance (m)</td>
                            <td th:text="${journey.distance}"></td>
                        </tr>
                        <tr>
                            <td>Duration (s)</td>
                            <td th:text="${journey.duration}"></td>
                        </tr>
                    </table>
                </div>
                <div class="flex-map">
                    <img th:src="${map}">
                </div>
            </div>
        </div>
    </body>
</html>