<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            .centered {
                text-align: center;
                vertical-align: center;
            }
            body {
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <a th:href="@{/}" class="home-button" aria-label="Return to homepage">Return to homepage</a>
                <h3>Journeys</h3>
            </div>
            <table style="width:80%" class="table" aria-label="Journey-table">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{/journeys(size=${journeyPage.size}, page=${journeyPage.number + 1},
                                        sortField=id, sortOrder=${reverseSortingDirection})}"
                               class="btn id">ID</a>
                        </th>
                        <th>
                            <a th:href="@{/journeys(size=${journeyPage.size}, page=${journeyPage.number + 1}, 
                                        sortField=departureStationID, sortOrder=${reverseSortingDirection})}"
                               class="btn departureStation">Departure Station</a>
                        </th>
                        <th>
                            <a th:href="@{/journeys(size=${journeyPage.size}, page=${journeyPage.number + 1}, 
                                        sortField=returnStationID, sortOrder=${reverseSortingDirection})}"
                               class="btn returnStation">Return Station</a>
                        </th>
                        <th class="centered">
                            <a th:href="@{/journeys(size=${journeyPage.size}, page=${journeyPage.number + 1}, 
                                        sortField=distance, sortOrder=${reverseSortingDirection})}"
                               class="btn distance">Distance</a>
                        </th>
                        <th class="centered">
                            <a th:href="@{/journeys(size=${journeyPage.size}, page=${journeyPage.number + 1}, 
                                        sortField=duration, sortOrder=${reverseSortingDirection})}"
                               class="btn duration">Duration</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="journey, page : ${journeyPage.content}"
                        th:style="${page.odd}? 'font-weight: bold;'">
                        <td>
                            <a th:text="${journey.id}"
                               th:href="@{/journey(id=${journey.id})}"></a>
                        </td>
                        <td>
                            <a th:text="${journey.departureStationID}"
                               th:href="@{/station(id=${journey.departureStationID})}"
                               style="display: inline-block;"></a>
                            <p th:text="${journey.departureStationName}"
                               style="display: inline-block; margin-bottom: 0;"></p>
                        </td>
                        <td>
                            <a th:text="${journey.returnStationID}"
                               th:href="@{/station(id=${journey.returnStationID})}"
                               style="display: inline-block;"></a>
                            <p th:text="${journey.returnStationName}"
                               style="display: inline-block; margin-bottom: 0;"></p>
                        </td>
                        <td class="centered" th:text="${journey.distance}"></td>
                        <td class="centered" th:text="${journey.duration}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/journeys(size=${journeyPage.size}, 
                                        page=${pageNumber}, 
                                        sortField=${sortField}, 
                                        sortOrder=${sortOrder})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==journeyPage.number + 1} ? active"></a>
            </div>
        </div>
    </body>
</html>