<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <style>
            .stats {
                text-align: center;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <div>
            <table style="width:80%" class="table">
                <caption>Journeys</caption>
                <thead>
                    <tr>
                        <th>Departure Station</th>
                        <th>Return Station</th>
                        <th>distance</th>
                        <th>duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="journey, page : ${journeyPage.content}"
                        th:style="${page.odd}? 'font-weight: bold;'">
                        <td th:text="|${journey.departureStationID} ${journey.departureStationName}|"></td>
                        <td th:text="|${journey.returnStationID} ${journey.returnStationName}|"></td>
                        <td class="stats" th:text="${journey.distance}"></td>
                        <td class="stats" th:text="${journey.duration}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${journeyPage.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/journeys(size=${journeyPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==journeyPage.number + 1} ? active"></a>
            </div>
        </div>
    </body>
</html>