<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            body {
                margin: 20px;
            }
            th {
                vertical-align: center;
            }
            .home-button {
                margin-inline-end: 10px;
            }
            .searchLabel {
                margin-inline-start: 10px;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <a th:href="@{/}" class="home-button" aria-label="Return to homepage">Return to homepage</a>
                <label class="searchLabel" for="searchField">Search:</label>
                <input type="text" id="searchField" name="searchField">
                <h3>Stations</h3>
            </div>
            <table style="width:80%" class="table" aria-label="Station-table">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=id, sortOrder=${reverseSortingDirection})}"
                               class="btn id">ID</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=nameFin, sortOrder=${reverseSortingDirection})}"
                               class="btn nameFin">Name</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=addressFin, sortOrder=${reverseSortingDirection})}"
                               class="btn addressFin">Address</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=cityFin, sortOrder=${reverseSortingDirection})}"
                               class="btn cityFin">City</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=capacity, sortOrder=${reverseSortingDirection})}"
                               class="btn capacity">Capacity</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=x, sortOrder=${reverseSortingDirection})}"
                               class="btn x">x</a>
                        </th>
                        <th>
                            <a th:href="@{/stations(size=${stationPage.size}, page=${stationPage.number + 1}, 
                                        sortField=y, sortOrder=${reverseSortingDirection})}"
                               class="btn y">y</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="station, page : ${stationPage.content}"
                        th:style="${page.odd}? 'font-weight: bold;'">
                        <td>
                            <a th:href="@{/station(id=${station.id})}"
                               th:text="${station.id}"></a>
                        </td>
                        <td th:text="${station.nameFin}"></td>
                        <td th:text="${station.addressFin}"></td>
                        <td th:text="${#strings.isEmpty(station.cityFin)} ? '-' : ${station.cityFin}"></td>
                        <td th:text="${station.capacity}"></td>
                        <td th:text="${station.x}"></td>
                        <td th:text="${station.y}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/stations(size=${stationPage.size}, 
                                        page=${pageNumber}, 
                                        sortField=${sortField}, 
                                        sortOrder=${sortOrder})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==stationPage.number + 1} ? active"></a>
            </div>
        </div>
    </body>
</html>