<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div>
            <table style="width:80%" class="table">
                <caption>Stations</caption>
                <thead>
                    <tr>
                        <th th:replace="~{fragments/stationSorting :: sorting('fId','fId')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('id','ID')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('nameFin','nameFin')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('nameSwe','nameSwe')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('nameEng','nameEng')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('addressFin','addressFin')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('addressSwe','addressSwe')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('cityFin','cityFin')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('citySwe','citySwe')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('operator','operator')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('x','x')}"></th>
                        <th th:replace="~{fragments/stationSorting :: sorting('y','y')}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="station, page : ${stationPage.content}"
                        th:style="${page.odd}? 'font-weight: bold;'">
                        <td th:text="${station.fId}"></td>
                        <td th:text="${station.id}"></td>
                        <td th:text="${station.nameFin}"></td>
                        <td th:text="${station.nameSwe}"></td>
                        <td th:text="${station.nameEng}"></td>
                        <td th:text="${station.addressFin}"></td>
                        <td th:text="${station.addressSwe}"></td>
                        <td th:text="${station.cityFin}"></td>
                        <td th:text="${station.citySwe}"></td>
                        <td th:text="${station.x}"></td>
                        <td th:text="${station.y}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${stationPage.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/stations(size=${stationPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==stationPage.number + 1} ? active"></a>
            </div>
        </div>
    </body>
</html>