<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>City Bike App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <style>
            body {
                margin: 20px;
            }
            .home-button {
                margin-inline-end: 10px;
            }
            .stations-button {
                margin-inline-start: 10px;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <a th:href="@{/}" class="home-button" aria-label="Return to homepage">Return to homepage</a>
                <a th:href="@{/stations}" class="stations-button" aria-labe="Return to Station list">Return to Station list</a>
                <h3>Station</h3>
            </div>
            <table style="width:50%" class="table" aria-label="Station data">
                <tr>
                    <th>Field Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td class="test" th:text="${station.id}"></td>
                </tr>
                <tr>
                    <td>Finnish Name</td>
                    <td th:text="${station.nameFin}"></td>
                </tr>
                <tr>
                    <td>Swedish Name</td>
                    <td th:text="${station.nameSwe}"></td>
                </tr>
                <tr>
                    <td>English Name</td>
                    <td th:text="${station.nameEng}"></td>
                </tr>
                <tr>
                    <td>Finnish Address</td>
                    <td th:text="${station.addressFin}"></td>
                </tr>
                <tr>
                    <td>Swedish Address</td>
                    <td th:text="${station.addressSwe}"></td>
                </tr>
                <tr th:unless="${#strings.isEmpty(station.operator)}">
                    <td>Finnish City</td>
                    <td th:text="${station.cityFin}"></td>
                </tr>
                <tr th:unless="${#strings.isEmpty(station.operator)}">
                    <td>Swedish City</td>
                    <td th:text="${station.citySwe}"></td>
                </tr>
                <tr th:unless="${#strings.isEmpty(station.operator)}">
                    <td>Operator</td>
                    <td th:text="${station.operator}"></td>
                </tr>
                <tr>
                    <td>Capacity</td>
                    <td th:text="${station.capacity}"></td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td th:text="${station.y}"></td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td th:text="${station.x}"></td>
                </tr>
                <tr>
                    <td>Journeys starting here</td>
                    <td th:text="${journeysStartingHere}"></td>
                </tr>
                <tr>
                    <td>Journeys ending here</td>
                    <td th:text="${journeysEndingHere}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>